* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
}



.header_hzchtoeto {
    background-color: hsl(0, 0%, 10%);
    width: 100%;
    height: 30px;
    min-width: 300px;
}

.header_main {
    padding: 0 20px;
    max-width: 70%;
    min-width: 300px;
    height: auto;
    display: flex;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(90, 90, 90);
    align-items: center;

    justify-content: center;
}

.header_main-name {
    font-size: 3rem;
    padding: 1rem;
}

.header_main__logo-veb {
    min-width: 50px;
    width: 200px;
    height: auto;
    align-items: center;
}

.header_main-communiti {
    width: 100%;

}

.header_main-communiti__nav_search-form {
    width: 300px;
    min-height: 40px;
    display: inline-flex;
    overflow: hidden;
    border-radius: 20px;
    background-color: #f0f0f0;
    border: 0.5px solid rgb(214, 214, 214);


}

.header_main-communiti__nav_search-form__txt {
    border: none;
    width: 300px;
    min-width: 100px;
    padding: 0 20px;
    outline: none;
    height: 3rem;
    background-color: #f0f0f0;
}

.header_main-communiti__nav_search-form__btn {
    cursor: pointer;
    padding-right: 5px;
}

.header_main-communiti__nav_search-image__btn {
    width: 1.5rem;
    height: auto;
    border: none;


}



.header_main-communiti__slogan {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 8px;
    color: black;
}



.header_main-communiti__nav {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;

}


.header_main-communiti__nav__number {
    font-size: 1vw;
    max-width: 240px;
    min-width: 20px;
    background-color: white;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid rgb(236, 236, 236);
    border-radius: 20px;
    margin: 0 auto;
}





.header_main-communiti__nav-enter__login {
    width: 3rem;
    cursor: pointer;
    border: 2px solid rgb(236, 236, 236);
    border-radius: 20px;
}



.header_main-communiti__nav-enter__shopping-cart {
    width: 3rem;
    background-color: white;
    cursor: pointer;

    border: 2px solid rgb(236, 236, 236);
    border-radius: 20px;
}



.header_main-communiti__nav-enter {
    align-items: center;
}

.header_nav-top {
   height: 50px;

    background-color: rgb(31, 12, 37);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    list-style-type: none;
    font-size: 1.8vh;
    max-width: 100%;
    border-bottom: 0.25rem solid black;
    padding: 0 20px;
    margin: 0 auto;
    padding-left: 10vw;
    padding-right: 10vw;
    min-width: 300px;

}

.header_nav-bottom {
    height: 50px;
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.6vh;
    max-width: 100%;
    border: 1px solid black;
    padding: 0 20px;
    margin: 0 auto;
    padding-left: 10vw;
    padding-right: 10vw;
    min-width: 300px;
}

.header_nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.header_nav li {
    cursor: pointer;
}


.fotter_top {
    margin: 0 auto;
    padding: 0 20px;
    height: auto;
    max-width: 1280px;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.fotter_top__logo {
    width: 200px;
    height: 100px;
    padding: 5px;
}

.footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}


.fotter_top__market-one, .fotter_top__market-two, .fotter_top__comunication-one, .fotter_top__comunication-two {
    list-style-type: none;

}

.fotter_bottom {
    margin: 0 auto;
    padding: 0 20px;
    height: auto;
    max-width: 100%;
    min-width: 300px;
    background-color: rgb(31, 12, 37);
    display: flex;

    align-items: center;
    color: white;
    padding-left: 24vw;
    padding-right: 24vw;

}

.fotter_bottom__contact a {
    font-size: 0.9vw;
    max-width: 200px;
    min-width: 20px;
    padding: 0px 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin: 0 auto;

}

.fotter_bottom__contact {
    padding: 5px;
}

.fotter_bottom__bank-one, .fotter_bottom__bank-two {
    width: 100px;
    height: 60px;
    padding: 5px;

}

.fotter_bottom__soc img {
    max-height: 30px;



}

.fotter_bottom {
    justify-content: space-between;
}


.fotter_bottom__soc {
    margin-right: 25vw;
}

.header_nav-bottom a {
    color: black;
}

.header_nav-top a {
    color: white;

}

.fotter_top a {
    color: black;
}






.header_nav-top a:hover {
    filter: brightness(80%);
}

.header_nav-bottom a:hover {
    background-color: hsl(270, 6%, 90%);
    border-radius: 20px;

}

.fotter_top a:hover {
    background-color: hsl(270, 6%, 90%);
    border-radius: 20px;
}

.fotter_bottom__soc a:hover {
    filter: brightness(80%);
}

.fotter_bottom__contact a:hover {
    filter: brightness(80%);
}

.header_main-communiti__nav__number:hover {
    background-color: hsl(270, 6%, 90%);
    border-radius: 20px;
}

.header_main-communiti__nav-enter a:hover {
    filter: brightness(90%);
}




.container{
  height: 55vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

@media(max-width:480px){
    .fotter_top__logo{
        height: 0px;
        width: 0px;

    }
    .fotter_bottom{
        padding: 0px;
    }
    .fotter_bottom__soc{
        margin: 0px;
    }
    .fotter_bottom__contact a{
        font-size: 15px;
    }
    .fotter_bottom__bank img{
        width: 50px;
        height: 30px;
    }
    .header_main-name p{
        font-size: 0px;
    }
    .header_main__logo-veb{
width: 0px;
height: 0px;
    }
.header_main-communiti__nav__number{
    width: 0px;
    height: 0px;
    font-size: 0px;
    padding: 0px;
    border: 0px;
}

.header_nav-bottom a{
    font-size: 0px;
}
.header_hzchtoeto{
    height: 0px;
}

.header_nav-top a{
    font-size: 0px;
}
.header_main-communiti__nav{
    padding: 0.5vh;
}
.header_main{
    max-width: 100%;
    display: inline;
}
.header_main-name{
  padding: 0px;
}
.header_nav-bottom{
    height: 0px;
}
.header_nav-top{
    height: 0px;
}
.header_main-communiti__nav_search-form{
    width: 250px;

}
.header_main-communiti__nav_search-form__txt{
    width: 250px;
}
.fotter_top {
    padding-right:3vh ;
}
.fotter_top a{
font-size: 10px;

}
.header_main-communiti__nav-enter img{
    width: 40px;
}
.header_main-communiti__nav_search-form__txt{
    height: 40px;
}
.header_main-communiti__nav__number{
    display: none;
}
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
}
